body.dark-mode {
  background-color: darkgray;
}
body.light-mode {
  background-color: white;
}
div.container.dark-mode {
  background-color: dimgrey;
  color: white;
}
div.container.light-mode {
  background-color: cornflowerblue;
  color: black;
}
input {
  border: none;
  border-radius: 4px 0 0 4px;
}
input:focus {
  outline: none;
}
#addTaskButton {
  border-radius: 0 4px 4px 0;
}
#acceptEditTaskButton {
  border-radius: 0 0 0 0;
}
#cancelEditTaskButton {
  border-radius: 0 4px 4px 0;
}
