body.dark-mode {
    background-color: darkgray;
    color: white;
}
body.light-mode {
    background-color: white;
    color: black;
}
.container.dark-mode {
    background-color: darkgray;
}
.container.light-mode {
    background-color: white;
}
div.container.dark-mode {
    background-color: dimgrey;
    border: 2px solid white;
}
div.container.light-mode {
    background-color: wheat;
    border: 2px solid black;
}

ol {
    padding: 0;
}
li {
    list-style-type: none;
}