body.dark-mode {
  background-color: darkgray;
}
body.light-mode {
  background-color: aliceblue;
}
#appContainer.container.dark-mode {
  background-color: rgb(107, 107, 107);
  color: white;
}
#appContainer.container.light-mode {
  background-color: #91C4F2;
  color: black;
}
